@font-face {
  font-family: "Lexend";   /*Can be any text*/
  src: local("Lexend-VariableFont_wght"),
    url("/src/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
}

:root{
  --color1: #80C29B;
  --color2: #B6DDC1;
  --color3: #ADC958;
  --color4: #BF512C;
  --color5: #F1BD71;
  --color6: #EDEDED;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
}

body{
  background-color: var(--color6);;
}

body main{
  scroll-snap-type: y proximity;
}

body main:nth-child(){
  scroll-snap-align: center;
}

header{
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  scroll-snap-align: center;
}

header img{
  margin-top: 100px;
  object-fit: cover;
}

nav{
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.nav_connect{
  position: fixed;
  top: 25vh;
  left: 10px;
  z-index: 100;
}

nav div{
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav_connect ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: var(--color3);
  padding: 10px;
  gap: 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

nav ul{
  list-style: none;
  display: flex;
  background-color: var(--color3);
  padding: 10px;
  gap: 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.nav_connect ul li{
  flex: 1;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li{
  flex: 1;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li:hover, .nav_connect ul li:hover{
  background-color: var(--color2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

nav ul li.active, .nav_connect ul li.active{
  background-color: var(--color1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

nav ul li a{
  width: 100%;
  height: 100%;
}

nav ul li img{
  width: 100%;
  height: 100%;
}

#desc{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#desc .question{
  position: relative;
  padding: 150px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

#desc .question div{
  width: 400px;
  background-color: var(--color1);
  padding: 25px 0 25px 25px;
  font-size: 30px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#desc .desc-1, #desc .desc-2{
  display: flex;
  gap: 50px;
  padding: 0 50px;
}

#desc .desc-1 img, #desc .desc-2 img{
  height: 300px;
  object-fit: cover;
}

#desc .desc-1 p, #desc .desc-2 p{
  flex: 4;
  font-size: 25px;
  text-align: justify;
}

#newsletter{
  height: 100vh;
}

#newsletter .question{
  position: relative;
  padding: 150px 0 0 0;
  display: flex;
  justify-content: flex-start;
}

#newsletter .question div{
  width: 400px;
  text-align: right;
  background-color: var(--color1);
  padding: 25px 25px 25px 0;
  font-size: 30px;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#previsions{
  height: 100vh;
}

#previsions .question{
  position: relative;
  padding: 150px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

#previsions .question div{
  width: 400px;
  background-color: var(--color1);
  padding: 25px 0 25px 25px;
  font-size: 30px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#agenda{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#agenda .question{
  position: relative;
  padding: 150px 0 0 0;
  display: flex;
  justify-content: flex-start;
}

#agenda .question > div:nth-child(1){
  width: 400px;
  text-align: right;
  background-color: var(--color1);
  padding: 25px 25px 25px 0;
  font-size: 30px;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#agenda .question > div:nth-child(2){
  flex: 1;
  display: flex;
  justify-content: center;
}

#agenda .select_mounth > div{
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color4);
  padding: 10px;
  font-size: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#agenda .select_mounth > div img{
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

#agenda .select_mounth > div img:hover{
  background-color: var(--color5);
}

#agenda .tableau{
  flex: 1;
  margin: 20px;
  /* background-color: red; */
  display: flex;
  border-spacing: 5px;
}

#agenda .tableau table{
  flex: 2;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%;
  /* border-collapse: separate; */
  border-spacing: 8px;
  table-layout: fixed;
}

#agenda .tableau table thead tr th{
  background-color: var(--color2);
  padding: 20px;
}

#agenda .tableau table tbody tr td{
  background-color: var(--color2);
  text-align: center;
  margin: 5px;
  padding: 10px;
  border: 10px solid var(--color6);
}

#agenda .tableau table tbody tr td.day.active {
  background-color: var(--color1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

#agenda .tableau table tbody tr td.day:hover{
  background-color: var(--color1);
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#agenda .tableau > div{
  flex: 1;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: var(--color2);
}

#agenda .tableau > div .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 10px;
}

#projets{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px
}

#projets .question{
  position: relative;
  padding: 150px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

#projets .question div{
  width: 400px;
  background-color: var(--color1);
  padding: 25px 0 25px 25px;
  font-size: 30px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#projets div.liste_projets{
  flex:1;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px;
}

#projets div.liste_projets > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color2);
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#projets div.liste_projets .titre{
  font-size: 30px;
}

#projets div.liste_projets .description{
  flex: 1;
}

#projets div.liste_projets .plus{
  background-color: var(--color1);  
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#projets div.liste_projets .plus:hover{
  background-color: var(--color5);
}

#login, #signin{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: var(--color6);
}

#login .form, #signin .form{
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 25px;
}

#signin .form .informations{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


#signin .form .informations > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#login .form input, #signin .form input{
  width: 100%;
  padding: 20px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color2);
}

#login .form .button, #signin .form .button{
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s;
}

#login .form .button:hover, #signin .form .button:hover{
  background-color: var(--color5);
  text-decoration: none;
}

#login .form a, #signin .form a{
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}

#login .form a:hover, #signin .form a:hover{
  text-decoration: underline;
}

#billeterie, #inscription, #faq, #administration{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#billeterie{
  justify-content: center;
}

#billeterie .produits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#billeterie .produits{
  flex-direction: row;
  justify-content: center;
  padding: 100px;
}

#billeterie .produits div{
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 5px
}

#billeterie .produits > div > div:not(.image){
  /* flex: 1; */
  display: flex;
  flex-direction: column;
}

#billeterie .produits > div > div:not(.image) .compteur{
  display: flex;
  gap: 0px;
  justify-content: center;
}

#billeterie .produits > div > div:not(.image) .compteur div{
  background-color: var(--color2);
  padding: 10px;
  cursor: pointer;
}

#billeterie .produits > div > div:not(.image) .compteur input{
  width: 50px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border: none;
}

#billeterie .produits > div > div:not(.image) .compteur div.moins{
  border-radius: 5px 0 0 5px;
}

#billeterie .produits > div > div:not(.image) .compteur div.plus{
  border-radius: 0 5px 5px 0;
}

#billeterie .produits > div > div:not(.image) .compteur div:hover{
  background-color: var(--color1);
}

#billeterie .produits > div > div:not(.image) h1{
  /* font-size: 50px; */
  text-align: center;
}

#billeterie .produits div div.image{
  flex: 2;
}

#billeterie .produits div div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#billeterie .commander{
  padding: 20px;
  background-color: var(--color1);
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#billeterie .commander:hover{
  background-color: var(--color3);

}

#faq div{
  display: flex;
  /* gap: 20px; */
}

#faq div div{
  padding: 50px;
  flex: 1;
}

#faq div .question{
  border: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  font-style: italic;
}

#faq div .reponse{
  border: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

#faq img{
  padding-right: 30vw;
  padding-top: 20vh;
}